.footer-container{
    background-color: #904026;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 4rem;
}
.footer-container .top-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
    border-bottom: 2px solid #631800;
}
.top-footer .top-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.top-footer h2{
    font-size: 20px;
    font-weight: 500
}
.top-footer p{
    font-size: 16px;
    font-weight: 400;
    line-height: calc(16px + 6px);
    text-wrap: wrap;
}
.top-one .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.top-one .socials i{
    font-size: 25px;
    cursor: pointer;
}
.top-footer .top-two{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.top-two h4, .top-footer .top-three h4, .bottom-footer h4{
    font-size: 18px;
    font-weight: 500;
}
.top-two ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
.top-two ul li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.top-two ul li i{
    font-size: 25px;
    cursor: pointer;
}
.top-two ul li p{
    font-size: 16px;
    font-weight: 400;
}
.top-footer .top-three{
    display: grid;
    grid-template-columns: 1rf;
    gap: 1rem;
    align-items: center;
}
.top-footer .top-three .photos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: right;
}
.top-footer .top-three .photos img{
    height: 10vw;
    object-fit: cover;
}
.top-footer .top-three h4{
    text-align: center;
}
.bottom-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bottom-footer .bottom-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bottom-text p{
    font-size: 18px;
    font-weight: 400;
}
.bottom-footer .bottom-form{
    flex: 1;
}
.bottom-form form{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #631800;
}
.bottom-form form input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #eaeaea;
    font-size: 14px;
}
.bottom-footer form button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 14px;
}
@media (max-width: 575px) {
    .footer-container{
        padding: 2rem 1rem;
    }
    .footer-container .top-footer{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .top-footer .top-three h4{
        text-align: start;
    }
    .top-footer .top-three .photos img{
        width: 100%;
        height: fit-content;
    }
    .bottom-footer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/* Small Devices (Phones, Landscape, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/* Medium Devices (Tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .footer-container .top-footer{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .top-footer .top-three .photos{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: start;
    }
    .top-footer .top-three h4{
        text-align: start;
    }
}

/* Large Devices (Desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}

/* Extra Large Devices (Desktops, 1200px and above) */
@media (min-width: 1200px) {
    /* Styles for extra large devices */
}

/* Ultra-Wide Screens (Desktops, 1600px and above) */
@media (min-width: 1600px) {
    /* Styles for ultra-wide screens */
}