.about-container{
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-container .about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.about-header h3{
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}
.about-header h3 span{
    color: #904026;
}
.about-header p{
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    width: 40%;
    text-align: center;
}
.about-container .about-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    box-shadow: 2px 2px 5px #8C8C8C;
    gap: 2rem;
}
.about-body .about-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-text h4{
    font-size: 20px;
    font-weight: 500;
}
.about-text p{
    font-size: 16px;
    line-height: calc(16px + 6px);
    font-weight: 400;
}
.about-text button{
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #904026;
    color: white;
    outline: none;
    border: none;
    width: fit-content;
}
.about-body .about-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}