.app-wrapper nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: white;
}
nav h2{
    font-size: 20px;
    font-weight: 500;
}
nav h2 span{
    color: #904026;
}
nav .nav-items ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    font-weight: 500
}
nav .button-and-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.button-and-search i{
    font-size: 20px;
    cursor: pointer;
}
nav button{
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #904026;
    color: white;
    font-weight: 400;
    border-radius: 30px;
}