.product-card{
    display: flex;
    flex-direction: column;
    min-width: 22%;
    box-shadow: 2px 2px 5px #8C8C8C;
}
.product-card .product-image img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.product-card-body h4.product-name{
    font-size: 20px;
    font-weight: 500;
    line-height: calc(20px + 6px);
    color: #904026;
    text-shadow: 3px 3px 10px #eaeaea;
}
.product-card-body .price{
    font-size: 18px;
    font-weight: 400;
    color: #8C8C8C;
    line-height: calc(18px + 6px);
}
.product-card-body p.card-description{
    font-size: 16px;
    line-height: calc(16px + 6px);
    font-weight: 400;
}

.review-and-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.review-and-price .review{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.review-and-price .review i{
    font-size: 18px;
    line-height: calc(18px + 6px);
    color: gold;
}
.review-and-price button{
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #904026;
    color: white;
    outline: none;
    border: none;
    width: fit-content;
}